tensorflow-intel==2.11.1
keras==2.11.0
protobuf==3.19.6
tensorboard==2.11.0
tensorflow_hub==0.12.0
jsonpickle
psutil
scikit-learn
cattr
rapidjson
qtpy
albumentations
jsmin
matplotlib
numpy<2
opencv-python
sleap
tensorflow==2.11.0
psutil
rapidjson
qtpy
pyqt5
jsmin
tensorflow-hub
scikit-learn
cattrs